<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand" >Mercadona Admin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="AdminInterface/products">Add a product</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="AdminInterface/categories">Add a category</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="AdminInterface/promotions">Add a promotion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="AdminInterface">Catalogue</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="unLog()" style="cursor:pointer">Disconnect</a>
      </li>
    </ul>
  </div>
</nav>

